<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="Common:meta" />
<include file="Common:css" />
</head>
<body>
    <div class="container bg">
        <include file="Common:nav" />
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-6 col-md-8 article">
                <div class="post-meta">
    				<h1>{$result.title}</h1>
                    <p class="text-muted ">views：{$result.views}</p>
                    <p class="text-muted ">posted：{$result.createtime}</p>
                    <foreach name="result['ext_data']" item="v">
                        <p class="text-muted">{$v.field_desc}：{$v.form_value_def}</p>
                    </foreach>
                </div>
                {$result.content}
            </div>
            <include file="Common:sider" />
        </div>
    </div>
    <include file="Common:footer" />
    <include file="Common:javascript" />
    <include file="Common:javascriptSyntaxHighlighter" />
</body>
</html>