<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="Common:meta" />
<include file="Common:css" />
</head>
<body>
    <div class="container bg">
        <include file="Common:nav" />
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <notempty name="result">
                    <p class="p10"></p>
                    <ul>
                        <foreach name="result" item="v">
                            <li class="list-item">
                                <a target="_blank" href="{:U('Desc/index',array('doc_id'=>$v['doc_id']))}" title="{$v.title}">{$v.title}</a>
                                <p class="text-muted">{$v.createtime}</p>
                            </li>
                        </foreach>
                    </ul>
                </notempty>
            </div>
            <include file="Common:sider" />
        </div>
    </div>
    <include file="Common:footer" />
    <include file="Common:javascript" />
</body>
</html>