<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="Common:meta" />
<include file="Common:css" />
</head>
<body>
	<!--整个大容器-->
	<div class="container-fluid" id="backtop">
		<!--固定在顶部的容器-->
		<div class="ifheader" id="ifheader">
			<!--右侧的操作按钮栏-->
			<include file="Common:btn" />
		</div>
		<!--内容容器-->
		<div class="ifman clear" id="ifman">
			<p class="text-muted">
				<b>{$discuss.nickname}</b>&nbsp;
				{$discuss.createtime}
			</p>
			<div class="well well-sm">
				{$discuss.content}
			</div>
			<form action="{:U('DocDiscuss/addDiscuss')}" method="post">
			    <div class="form-group">
			        <label>
			            <span class="red">*&nbsp;&nbsp;</span>评论
			        </label>
			        <textarea required="required" placeholder="说点什么吧……" name="content" rows="3" class="form-control"></textarea>
			        <a href="javascript:;" onclick="addCodeTag(this)">插入代码</a>
			    </div>
			    <input type="hidden" name="discuss_id" value="{$discuss.discuss_id}">
			    <button type="submit" class="btn btn-default btn-sm">
			        提交
			    </button>
			</form>
		</div>
	</div>
	<include file="Common:javascript" />
	<include file="Common:javascriptController" />
</body>
</html>