/*头部*/
.header{
	background: #fff;
	width: 100%;
	padding-right: 30px;
}
.header table {
	margin:0;
}
/*搜索栏容器*/
.rowoption{
	margin: 10px 5px 0 0;
}

/*分页*/
.page{

}
.pagenum{
    height: 28px;
    line-height: 28px;
    margin-left: 10px;


}
.pagenum span.current,.pagenum a:hover {
 	background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;

}
.pagenum a, .pagenum span {
 	border: 1px solid #adadad;
    padding: 6px 10px;
    text-align: center;
     color: #555;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    margin-right:5px;
}
.pagenum .end{
    border-radius: 0 3px 3px 0;
}
.pagesize,.pagetotal{
	margin: 0 0 0 5px;
	height: 28px;
    line-height: 28px;
}

/*bootstarp*/
.inline{
    display: inline;
    width: 50%;
}
