<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="Common:meta" />
<include file="Common:css" />
</head>
<body>
	<!--整个大容器-->
	<div class="container-fluid" id="backtop">
		<!--固定在顶部的容器-->
		<div class="ifheader" id="ifheader">
			<!--右侧的操作按钮栏-->
			<include file="Common:btn" />
		</div>
		<!--内容容器-->
		<div class="ifman clear" id="ifman">
			<table id="nodetree" class="table table-hover table-condensed fixedboxtablehead">
				<tr>
				    <th>
				        节点中文名
				    </th>
				    <th>
				        节点名英文
				    </th>
				    <th>
				        节点类型
				    </th>
				    <th>
				    	显示类型
				    </th>
				    <th>
				    	是否禁用
				    </th>
				    <th>
				        操作
				    </th>
				</tr>
				<?php
					\Org\Arrayhelps\CategoryArray::treeMap($result,function($v) use (&$nodeTypeShow) {
						$tmp = '<tr data-tt-id="'.$v['node_id'].'" data-tt-parent-id="'.$v['pid'].'">';
							$tmp .= '<td><span class="'.(!empty($v['son']) ? 'folder' : 'file').'">'.$v['zh_name'].'</span></td>';
						    $tmp .= '<td>'.$v['en_name'].'</td>';
						    $tmp .= '<td>'.(isset($nodeTypeShow[$v['type']]) ? $nodeTypeShow[$v['type']] : '根').'</td>';
						    $tmp .= '<td>'.($v['is_nav'] ? '菜单' : '隐藏').'</td>';
						    $tmp .= '<td>'.($v['ban'] ? '是' : '否').'</td>';
						    $tmp .= '<td class="handle">'.$v['handle'].'</td>';
					    $tmp .= '</tr>';
					    echo $tmp;
					});
				?>
			</table>
		</div>
	</div>
	<include file="Common:javascript" />
	<include file="Common:javascriptController" />
</body>
</html>