<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="Common:meta" />
<include file="Common:css" />
</head>
<body>
	<!--整个大容器-->
	<div class="container-fluid" id="backtop">
		<!--固定在顶部的容器-->
		<div class="ifheader" id="ifheader">
			<!--右侧的操作按钮栏-->
			<include file="Common:btn" />
		</div>
		<!--内容容器-->
		<div class="ifman clear" id="ifman">
			<table id="categorytree" class="table table-hover table-condensed fixedboxtablehead">
				<tr>
				    <th>
				        分类名
				    </th>
				    <th>
				        导航路由
				    </th>
				    <th>
				        排序
				    </th>
				    <th>
				        操作
				    </th>
				</tr>
				<?php
					\Org\Arrayhelps\CategoryArray::arrayMapTree($result,function($v) {
						$tmp = '<tr data-tt-id="'.$v['cid'].'" data-tt-parent-id="'.$v['pid'].'">';
							$tmp .= '<td><span class="'.(!empty($v['son']) ? 'folder' : 'file').'">'.$v['cname'].'</span></td>';
						    $tmp .= '<td>'.$v['route'].'</td>';
						    $tmp .= '<td>'.$v['sort'].'</td>';
						    $tmp .= '<td class="handle">'.$v['handle'].'</td>';
					    $tmp .= '</tr>';
					    echo $tmp;
					});
				?>
			</table>
		</div>
	</div>
	<include file="Common:javascript" />
	<include file="Common:javascriptAction" />
</body>
</html>