body{
    background-color: #e6e6e6;
    color: #000;
}
.bg{height: auto;background-color: #fff;margin-top: 50px;line-height: 200%;}
.desc{
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar{margin-bottom: 0px;}
.sider-block{
    margin-top: 20px;
}
.tag a{margin-bottom: 6px;margin-right: 6px;}
.h-divider{
    border-bottom-color: #e7e7e7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 5px;
}

/*分页*/
.page{

}
.pagenum{
    height: 28px;
    line-height: 28px;
    margin-left: 10px;


}
.pagenum span.current,.pagenum a:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;

}
.pagenum a, .pagenum span {
    border: 1px solid #adadad;
    padding: 6px 10px;
    text-align: center;
     color: #555;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.pagenum .end{
    border-radius: 0 3px 3px 0;
}
.pagesize,.pagetotal{
    margin: 0 0 0 5px;
    height: 28px;
    line-height: 28px;
}