<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="Common:meta" />
<include file="Common:css" />
</head>
<body>
	<!--整个大容器-->
	<div class="container-fluid" id="backtop">
		<!--固定在顶部的容器-->
		<div class="ifheader" id="ifheader">
			<!--右侧的操作按钮栏-->
			<include file="Common:btn" />
		</div>
		<!--内容容器-->
		<div class="ifman clear" id="ifman">
			<form action="{:U('User/addMeInfo')}" method="post" id="set">
				<div class="form-group">
			        <label>
			        	密码
			        </label>
			        <input type="text" class="form-control input-sm" placeholder="密码" name="passwd" autofocus="autofocus" value="" autocomplete="off">
			    </div>
			    <div class="form-group">
			        <label>
			            昵称
			        </label>
			        <input type="text" class="form-control input-sm" placeholder="昵称" name="nickname" value="{$result.nickname}" autocomplete="off">
			    </div>
			    <div class="form-group">
			        <label>
			            姓名
			        </label>
			        <input type="text" class="form-control input-sm" placeholder="姓名" name="realname" value="{$result.realname}" autocomplete="off">
			    </div>
			    <div class="form-group">
			        <label>
			            手机
			        </label>
			        <input type="text" class="form-control input-sm" placeholder="手机" name="mobile" value="{$result.mobile}" autocomplete="off">
			    </div>
			    <div class="form-group">
			        <label>
			            邮箱
			        </label>
			        <input type="text" class="form-control input-sm" placeholder="邮箱" name="email" value="{$result.email}" autocomplete="off">
			    </div>
			    <div class="form-group">
			    	<label>
			            性别
			        </label>
					<foreach name="user_sex" item="v">
					    <label class="radio-inline">
							<input type="radio" name="sex" value="{$key}" required="required" <if condition="$result.sex eq $key" >checked="checked"</if>> {$v}
						</label>
					</foreach>
				</div>
			    <button type="submit" class="btn btn-default btn-sm">
			        提交
			    </button>
			</form>
		</div>
	</div>
	<include file="Common:javascript" />
</body>
</html>