<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="Common:meta" />
<include file="Common:css" />
</head>
<body>
	<!--整个大容器-->
	<div class="container-fluid" id="backtop">
		<!--固定在顶部的容器-->
		<div class="ifheader" id="ifheader">
			<!--右侧的操作按钮栏-->
			<include file="Common:btn" />
		</div>
		<!--内容容器-->
		<div class="ifman clear" id="ifman">
			<form action="{:U('User/addUinfo')}" method="post" id="set">
			    <div class="form-group">
			        <label>
			            昵称
			        </label>
			        <input type="text" class="form-control input-sm" placeholder="昵称" name="nickname" required="required" autofocus="autofocus" value="{$result.nickname}" autocomplete="off">
			    </div>
			    <div class="form-group">
			        <label>
			            姓名
			        </label>
			        <input type="text" class="form-control input-sm" placeholder="姓名" name="realname" required="required" value="{$result.realname}" autocomplete="off">
			    </div>
			    <div class="form-group">
			        <label>
			            手机
			        </label>
			        <input type="text" class="form-control input-sm" placeholder="手机" name="mobile" required="required" value="{$result.mobile}" autocomplete="off">
			    </div>
			    <div class="form-group">
			        <label>
			            邮箱
			        </label>
			        <input type="text" class="form-control input-sm" placeholder="邮箱" name="email" required="required" value="{$result.email}" autocomplete="off">
			    </div>
			    <div class="form-group">
			    	<label>
			            性别
			        </label>
					<foreach name="user_sex" item="v">
					    <label class="radio-inline">
							<input type="radio" name="sex" value="{$key}" required="required" <if condition="$result.sex eq $key" >checked="checked"</if>> {$v}
						</label>
					</foreach>
				</div>
				<div class="form-group">
			    	<label>
			            类型
			        </label>
					<foreach name="user_utype" item="v">
					    <label class="radio-inline">
							<input type="radio" name="utype" value="{$key}" required="required" <if condition="$result.utype
							 eq $key" >checked="checked"</if>>{$v}
						</label>
					</foreach>
				</div>
				<div class="form-group">
			        <label>
			            角色
			        </label>
			        <a role="button" href="javascript:void(0);" class="btn btn-default btn-sm openiframe" data-url="{:U('FreeAuth/listRole',array('role_ids'=>$role_ids))}" data-callback="set_role_id" data-all-attr="1">弹出角色列表</a>
		        	<input type="text" class="form-control input-sm inline" placeholder="角色列表" name="role_names" required="required" value="{$role_names}" readonly="readonly">
		        	<input type="hidden" name="role_ids" value="{$role_ids}">
			    </div>
				<input type="hidden" value="{$result.uid}" name="uid">
			    <button type="submit" class="btn btn-default btn-sm">
			        提交
			    </button>
			</form>
		</div>
	</div>
	<include file="Common:javascript" />
	<include file="Common:javascriptAction" />
</body>
</html>