<script>
    var realModule    = '{$realModule}'; //映射模块
    var moduleKey     = '{$module}';     //模块key
    var controllerKey = '{$controller}'; //控制器key
    var actionKey     = '{$action}';     //动作key
</script>
<script type="text/javascript" src="__PUBLIC__/Common/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/tool.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/requireDispatch.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/ztree/ztree.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/laydate/laydate.js"></script>
<script type="text/javascript" src="__PUBLIC__/{$Think.MODULE_NAME}/js/common.js"></script>
<script>
    layer.config(
        {
            offset: '5px'
        }
    );
</script>