<div class="col-xs-12 col-sm-6 col-md-8">
    <notempty name="result">
        <p class="p10"></p>
        <ul>
            <foreach name="result" item="v">
                <li class="list-item">
                    <if condition="$urlRouterOn">
                        <a target="_blank" href="/content/{$v['doc_id']}.html" title="{$v.title}">{$v.title}</a>
                    <else/>
                        <a target="_blank" href="{:U('Desc/index',array('doc_id'=>$v['doc_id']))}" title="{$v.title}">{$v.title}</a>
                    </if>
                    <p class="text-muted">{$v.createtime|substr=###,0,-3}</p>
                </li>
            </foreach>
        </ul>
    </notempty>
    <empty name="result"><p class="p10"></p><p class="text-muted padding-left-15">暂无数据</p></empty>
    <include file="Common:page" />
</div>