<div class="header">
    <p class="text-muted title">{$site.name}</p>
    <notempty name="site['oneDesc']">
        <p class="text-muted">{$site.oneDesc}</p>
    </notempty>
</div>
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">
                切换导航
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
        </button>
        <a class="navbar-brand <if condition="0 eq $cid && 0 eq $doc_id && $time eq ''">active</if>" href="/">
            首页
        </a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <foreach name="nav" item="v">
                <li class="<if condition="$v['cid'] eq $cid">active</if>">
                    <a href="{:U($v['route'].'/index',array('cid'=>$v['cid']))}">
                        {$v.cname}
                    </a>
                </li>
            </foreach>
        </ul>
    </div>
</div>